* {
    box-sizing: border-box;
}

:root {

}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: silver;
}

.title {
    font-size: 72px;
    background: -webkit-linear-gradient(crimson, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: crimson;
}

header span {
    color: yellow;
    /* background-color: crimson; */
    margin: 0px;
    font-size: 5vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: blue;
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero {
    padding: 2% 6%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    min-height: 30vh;
}